.artikel-header {
    display: flex;
    margin: 20px;
    font-size: 3rem;
    justify-content: center;
  }
  
  .artikel-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .artikel-row-full {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .artikel-card {
    margin: 10px;
    align-items: center;
    width: 25rem;
    height: auto;
    box-shadow: 2px 5px 6px grey;
  }

  .artikel-card-full {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    box-shadow: 2px 5px 6px grey;
    background-color : #003865;
    color: white;
  }

  .artikel-card-text {
    margin: 10px;
    text-align: justify;
    font-size: larger;
  }
  
  .artikel-card:hover {
    transform: scale(1.03);
    transition: 200ms;
  }
  
  .card-body {
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .artikel-card-image {
    width: 200px;
    height: auto;
    align-content: center;
  }
  
  @media screen and (max-width : 900px) {
    .artikel-card {
      margin: 10px;
      width: 40rem;
      height: auto;
      box-shadow: 2px 5px 6px grey;
    }
  }