.header-logo {
  width: 70px;
  max-height: auto;
  padding-right: 5px;
}

.text-header {
  display: flex;
}

.me-auto {
  color: white;
}

.navbar-default {
  background: linear-gradient(#00B4D8, #4D96FF);
}
