.berita-logo {
  font-family: 'Times';
  color: brown;
  text-align: Center;
}

.berita-card {
  width: 100%;
}

@media screen and (max-width: 550px) {
  .berita-card{
    display: flex;
    flex-direction: row;
  }
}