.Col {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif
}

.Berita-utama {
  width: 20px;
}

@media screen and (max-width: 700px) {
  .feat-wide{
    display: none;
  }
  .feat-narrow{
    display: flex;
    transition: ease-in;
  }
  
}

@media screen and (min-width: 700px) {
  .feat-wide{
    display: flex;
    margin-right: 20px;
  }
  .feat-narrow{
    display: none;
  }
  
}