.galeri-bg {
    padding: 30px;
    background: linear-gradient(#293462, #003865);
    width: 100%;
    height: 100%;
}

.Baris {
    width: 100%;
    height: 100%;
    align-content: center;
    justify-content: center;
    padding: 10px;
}


.galeri-card {
    width: 100%;
    height: auto;
}

.body-galeri-card {
    margin: 10px;
    width: 50%;
    height: auto;
}