.info-bg {
    padding: 30px;
    background: linear-gradient(#0096FF, #5800FF);
    width: 100%;
    height: 100%;
}

.Baris {
    width: 100%;
    height: 100%;
    align-content: center;
    justify-content: center;
}

.Kartu {
    width: 70%;
    height: 100%;
    padding: 2px;
}