.container-slide {
    display: contents;
    width: auto;
    height: auto;
}

.slide {
    display: flex;
    width: 100%;
    max-height: 30rem;
    min-height: 30rem;
}

.slide-capt {
    color: whitesmoke;
}